* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-size: 1.01rem;
    font-weight: 600;

}

body {
    height: 89.5vh;
    background-image: linear-gradient(to bottom right, red, blue);


}



.container {
    min-width: 285px;
    width: 285px;

    height: auto;
    background-color: rgb(14, 14, 27);
    margin: auto;
    padding: 0.5rem;
    margin-top: 6rem;
    border-radius: 1rem;
    opacity: 0.9;



}

.screen {
    width: 100%;
    height: 5rem;
    margin-top: 0.5rem;
    text-align: end;
    padding: 1rem;
    font-size: 1.5rem;
}

.answer {
    width: 100%;
    height: 4rem;
    text-align: end;
    padding: 0.5rem;
    color: rgb(97, 165, 42);
    font-size: 2rem;

}

.keys {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    /* justify-content: center;
    align-items: center; */

}

.keys div:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    cursor: pointer;
}

.ke,
.clear,
.Delete,
.equal,
.multiply,
.point {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(75, 65, 65);
    text-align: center;
    width: 3.5rem;
    height: 3.5rem;
    place-items: center;


}



.zero {
    padding-right: 7rem;
    border-radius: 2rem;
}

.operation {
    background-color: rgb(231, 165, 22);
}

.gray {
    background-color: rgb(201, 194, 194);
    color: black;

}

.Delete {
    font-weight: 300;
}



input {
    color: black;
}